{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}
    <title>Document</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
      </nav>
      
      <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
      </nav>
      
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
      </nav>


    {% block body_block %}
    {% endblock %}
    
<script src=" {% static 'js/jquery.js' %} "></script>
<script src=" {% static 'js/popper.js' %} "></script>
<script src=" {% static 'js/bootstrap.js' %} "></script>
<script src=" {% static 'js/mdb.js' %} "></script>
</body>
</html>